<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Toupan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    
        <div class="search-div">
         
                <form action="s" method="get">
                    <input type="text" name="q" id="keywords">
                    <input type="submit" value="Search">
                </form>
            {% comment %} Back End Render ok? {% endcomment %}
            
                </div>
            </div>
            <form action="/search" method="get">
                <input type="text" name="q" id="search_text">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>